{% extends 'TraventyBundle::layout-admin.html.twig' %}

{% block content %}

<h2>Resource edit</h2>

<div class="row">
    <div class="span12">
    
    {% include 'TraventyBundle:Default:alerts.html.twig' %}
    
    <form action="{{ path('admin_resource_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Update" />
    </form>

    <ul class="nav nav-pills pull-right">
        <li>
            <a class="btn btn-small" href="{{ path('admin_resource') }}">
            <i class="icon-list"></i> Back to the list</a>
        </li>
        <li>
            <a class="btn btn-small btn-danger" href="{{ path('admin_resource_delete', { 'id': entity.id }) }}">
            <i class="icon-remove icon-white"></i> Delete
            </a>
        </li>
    </ul>
    </div>
</div>

{% endblock %}