{% extends 'TraventyBundle::layout.html.twig' %}

{% set eventType = '' %}

{% block id 'resource' %}

{% block javascripts %}
   <script src="{{ asset('bundles/traventy/bootstrap/js/bootstrap.min.js') }}" type="text/javascript" ></script>
   <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
   <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block content %}

<h2>Resource list</h2>

<div class="row">  
    <div class="span3">
      <h3>Search</h3>
      <form action="{{ path('resource') }}" method="get" {{ form_enctype(searchForm) }}>
      {{ form_row(searchForm.name) }}
      {{ form_row(searchForm.city) }}
      <p>
        <input class="btn btn-primary" type="submit" value="Search" />
        <input class="btn" type="reset" value="Reset" />
      </p>
      </form>        
    </div>
    
   <div class="span9">

      <ul class="thumbnails">
      {% for entity in entities %}
        <li class="span3">
           <div class="thumbnail">
              
              <a href="{{ path('resource_show', {'id' : entity.id}) }}">
              <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
              </a>
              <div class="caption">
                 
                 {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    {% if app.user.type|lower == 'traveler' %}
                  
                      {% set eventType = 'excursion' %}
                      <h4>
                      {% if entity.id in favoritesResources %}
                        <i class="icon-star"></i>
                      {% endif %}
                      <a href="{{ path('resource_show', {'id' : entity.id}) }}">{{ entity.name }}</a>
                      </h4>                 

                      <p><strong>{{ entity.city }}</strong><br />({{ entity.city.state }})</p>
                     
                      {% if entity.id in favoritesResources %}
                      <a class="btn btn-mini" href="{{ path('traveler_remove_favorite_resource', 
                          {'username' : app.user.username, 
                           'id' : entity.id }) }}" title="Remove from favorite">
                      <i class="icon-star"></i> Favorite</a>
                      
                      {% else %}
                      <a class="btn btn-mini" href="{{ path('traveler_add_favorite_resource', 
                          {'username' : app.user.username, 
                           'id' : entity.id }) }}" title="Add to favorite">
                      <i class="icon-star-empty"></i> Favorite</a>
                      {% endif %}
                      
                    {% endif %}
                       
                    {% if app.user.type|lower == 'agency' %}
                      
                       {% set eventType = 'travel' %}                      
                       <h4>
                       <a href="{{ path('resource_show', {'id' : entity.id}) }}">{{ entity.name }}</a>
                       </h4>                 

                       <p> <strong>{{ entity.city }}</strong><br />
                       ({{ entity.city.state }})</p>                    
                      
                    {% endif %}
                       
                    {% set ruta = path(eventType ~ '_whithoutresource', { 'username' : app.user.username , 'resourceid' : entity.id }) %}
                    <a class="btn btn-mini modal-resource" data-urlresource="{{ ruta }}" data-resource="{{entity.id}}" href="#modalEvent" >
                    <i class="icon-plus-sign"></i> Add to {{ eventType }}</a>
                     
                 {% else %}
                    
                    <h4>
                    <a href="{{ path('resource_show', {'id' : entity.id}) }}">{{ entity.name }}</a>
                    </h4>
                    
                    <p> <strong>{{ entity.city }}</strong><br />({{ entity.city.state }})</p>
                 {% endif %}
  
              </div>

           </div>
        </li>
      {% endfor %}
      </ul>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <div class="modal hide fade" id="modalEvent">
         <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Add resource to an {{ eventType }}</h3>
         </div>
         <div class="modal-body">
            <div class="alert alert-block alert-success"></div>
         </div>
      </div>

      <script type="text/javascript">

      $(document).ready(function() {
         
         $('div.modal-body > div.alert').hide();
         
         $('#modalEvent').on('hidden', function(evt) {
            var target = $(evt.target);
            $('#modalEvent div.modal-body ul').remove();
            $('div.modal-body > div.alert').hide();
         });
         
         $(".modal-resource").on("click",function(evt){
            var url = $(evt.target).attr("data-urlresource");
            var resourceid = $(evt.target).attr("data-resource");

            $('#modalEvent').modal({
               'backboard' : true,
               'keyboard' : true,
               'show' : true
            });
            
            $.getJSON(url, 
            function(data) {
               var items = [];

               $.each(data, function(key, val) {                                    
                  var urlAddResource = Routing.generate("{{ eventType ~ '_add_resource' }}", {
                     'username' : '{{ app.user.username }}',
                     '{{ eventType ~ 'id' }}' : key,
                     'resourceid' : resourceid
                  });
                  
                  items.push('<li id="event-'+key+'"><a class="event" href="'+urlAddResource+'" title="{{ 'Add to this' ~ eventType }}">' + val + '</a></li>');
               });

               if (items.length > 0)
               {
                  $('<ul/>', { html: items.join('') }).appendTo('#modalEvent div.modal-body');

                  $("a.event").on('click', function(evt) {
                     var target = $(evt.target);
                     var urlResource = target.attr("href");

                     $.getJSON(urlResource, function(data) {

                        target.parent().remove();
                        $('div.modal-body > div.alert').text(data.message).show().delay(3000).fadeOut();

                     });
                     return false;
                  });         
               }
               else
               {
                  $('div.modal-body > div.alert').html('<h4>All {{ eventType ~ 's' }} have this resource</h4>').show();
               }
            });
                     
         });
         
      });

      </script>
      {% endif %}

   </div>

</div>

{% endblock %}