{% extends "TraventyBundle::layout-admin.html.twig" %}

{% block content %}

<h2>Resource creation</h2>

<div class="row">
    <div class="span12">
        
    {% include 'TraventyBundle:Default:alerts.html.twig' %}
        
    <form action="{{ path('admin_resource_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Create" />
    </form>

    <ul class="nav nav-pills pull-right">
        <li>
            <a class="btn btn-small" href="{{ path('admin_resource') }}">
            <i class="icon-list"></i> Back to the list</a>
        </li>
    </ul>
    </div>
</div>

{% endblock %}
