{% extends 'TraventyBundle::layout.html.twig' %}

{% block id 'excursions' %}

{% block content %}

<div class="row">

   <div class="span12">  
   <h2>{{ excursion.name|capitalize }}</h2>
   
   <div class="well">
    <div class="row">
        <div class="span3">
            <p><i class="icon-user"></i> {{ excursion.traveler.username|capitalize }}</p>
        </div>
        <div class="span4">
            <p><i class="icon-info-sign"></i> Activities: <strong>{{ excursion.activities.count }}</strong></p>
        </div>
        <div class="span4">
            <p><i class="icon-info-sign"></i> Resources: <strong>{{ excursion.resources.count }}</strong></p>
        </div>            
    </div>
       
    
   </div>

   <div class="tabbable">
      <ul class="nav nav-tabs">
         <li class="active"><a href="#excursionActivities" data-toggle="tab">Activities</a></li>
         <li><a href="#excursionResources" data-toggle="tab">Resources</a></li>
      </ul>
      <div class="tab-content">
         <div class="tab-pane active" id="excursionActivities">
            
         <ul class="thumbnails">
         {% for activity in excursion.activities %}
            <li class="span3">
               <div class="thumbnail">

                  <a href="{{ path('activity_show', {'id' : activity.id}) }}">
                  {% if activity.randomImage is not null %}
                      <img src="{{ asset(activity.randomImage.webPath) | apply_filter('thumb_210x120') }}" />
                  {% else %}
                      <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
                  {% endif %}
                  </a>
                  <div class="caption">
                     <h4>
                     <a href="{{ path('activity_show', {'id' : activity.id}) }}">{{ activity.name }}</a>
                     </h4>
                     <p><strong>{{ activity.city }}</strong><br />({{ activity.city.state }})</p>
                  </div>

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't activities for this excursion</div></li>
         {% endfor %}
         </ul>            
            
         </div>
            
         <div class="tab-pane" id="excursionResources">
            
         <ul class="thumbnails">
         {% for resource in excursion.resources %}
            <li class="span3">
               <div class="thumbnail">

                  <a href="{{ path('resource_show', {'id' : resource.id}) }}">
                  <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
                  </a>
                  <div class="caption">
                     <h4>
                     <a href="{{ path('resource_show', {'id' : resource.id}) }}">{{ resource.name }}</a>
                     </h4>
                     <p><strong>{{ resource.city }}</strong><br />({{ resource.city.state }})</p>
                  </div>

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't resources for this excursion</div></li>            
         {% endfor %}
         </ul>            
            
         </div>
      </div>
   </div>     
      
   <ul class="nav nav-pills pull-right">
       <li><a href="{{ path('excursions') }}" class="btn btn-small" title="Back to excursion list">
           <i class="icon-list"></i> Back to list</a></li>
   </ul>
   
   </div>
</div>

{% endblock %}

{% block javascripts %}

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" /></script>
   <script src="{{ asset('bundles/traventy/bootstrap/js/bootstrap.min.js') }}" type="text/javascript" /></script>

{% endblock %}
