{% extends "TraventyBundle::layout.html.twig" %}

{% block id 'excursions' %}

{% block content %}

<h2>Excursions list</h2>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">        
      {% for excursion in excursions %}
      <li class="span3">
        <div class="thumbnail">
          <img src="{{ asset('bundles/traventy/images/home-image.png') }}" height="90px" width="90px" alt="" />
          <h5>
          <a href="{{ path('traveler_detail_excursion', {'id' : excursion.id, 'username' : excursion.traveler.username }) }}" title="">{{ excursion.name }}</a>
          </h5>
          <p>(Activities: {{ excursion.activities.count }} - Resources: {{ excursion.resources.count }})</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}