{% extends 'TraventyBundle::layout.html.twig' %}

{% block id 'event' %}

{% block content %}

<div class="row">
  <div class="span3">
   {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
  </div>   

  <div class="span9">
     <h3>New Excursion</h3>
          
     {% if update %}
     <form action="{{ path('traveler_update_excursion', 
                     {'username': app.user.username, 'id' : id }) }}" 
           method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <a class="btn" href="{{ path('traveler_excursions', { 'username': app.user.username }) }}">Back to list</a>
        <input type="submit" value="Update" class="btn btn-primary" />
     </form>
     {% else %}
     
     <form action="{{ path('traveler_create_excursion', 
                     {'username': app.user.username}) }}" 
           method="post" {{ form_enctype(form) }}>           
        {{ form_widget(form) }}
        <a class="btn" href="{{ path('traveler_excursions', { 'username': app.user.username }) }}">Back to list</a>
        <input type="submit" value="Create" class="btn btn-primary" />
     </form>
     
     {% endif %}     
  </div>
</div>

{% endblock %}