{% extends 'TraventyBundle::layout.html.twig' %}

{% block id 'event' %}

{% block content %}

<div class="row">
   <div class="span3">
      {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
   </div>        

   <div class="span9">  
   <h3>{{ excursion.name|capitalize }}</h3>
     
   <div class="tabbable">
      <ul class="nav nav-tabs">
         <li class="active"><a href="#excursionActivities" data-toggle="tab">Activities</a></li>
         <li><a href="#excursionResources" data-toggle="tab">Resources</a></li>
      </ul>
      <div class="tab-content">
         <div class="tab-pane active" id="excursionActivities">
            
         <ul class="thumbnails">
         {% for activity in excursion.activities %}
            <li class="span3">
               <div class="thumbnail">

                  <a href="{{ path('activity_show', {'id' : activity.id}) }}">
                  <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
                  </a>
                  <div class="caption">
                     <h4>
                     <a href="{{ path('activity_show', {'id' : activity.id}) }}">{{ activity.name }}</a>
                     </h4>
                          <p><strong>{{ activity.city }}</strong><br />({{ activity.city.state }})</p>
                     <a class="btn btn-mini" href="{{ path('excursion_remove_activity',{
                        'username' : app.user.username,
                        'excursionid' : excursion.id,
                        'activityid' : activity.id
                     })  }}" >
                     <i class="icon-remove"></i> Remove</a>                     
                  </div>

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't activities for this excursion</div></li>
         {% endfor %}
         </ul>            
            
         </div>
            
         <div class="tab-pane" id="excursionResources">
            
         <ul class="thumbnails">
         {% for resource in excursion.resources %}
            <li class="span3">
               <div class="thumbnail">

                  <a href="{{ path('resource_show', {'id' : resource.id}) }}">
                  <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
                  </a>
                  <div class="caption">
                     <h4>
                     <a href="{{ path('resource_show', {'id' : resource.id}) }}">{{ resource.name }}</a>
                     </h4>
                          <p><strong>{{ resource.city }}</strong><br />({{ resource.city.state }})</p>
                     <a class="btn btn-mini" href="{{ path('excursion_remove_resource',{
                        'username' : app.user.username,
                        'excursionid' : excursion.id,
                        'resourceid' : resource.id
                     })  }}" >
                     <i class="icon-remove"></i> Remove</a>                     

                  </div>

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't resources for this excursion</div></li>
         {% endfor %}
         </ul>            
            
         </div>
      </div>
   </div>     
      
   <ul class="nav nav-pills pull-right">
     <li><a class="btn btn-small" href="{{ path('traveler_excursions', { 'username': app.user.username }) }}">
         <i class="icon-list"></i> Back to list</a></li>
     <li><a class="btn btn-small btn-danger" href="{{ path('traveler_delete_excursion', 
         {'username' : app.user.username, 'id' : excursion.id }) }}">
         <i class="icon-trash icon-white"></i> Delete</a></li>
   </ul>
   
   </div>
</div>

{% endblock %}

{% block javascripts %}

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" /></script>
   <script src="{{ asset('bundles/traventy/bootstrap/js/bootstrap.min.js') }}" type="text/javascript" /></script>

{% endblock %}
