footer {
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em 0;
  color: #999;
}

#home .slide-home {
  width: 620px;
  height: 300px;
}

#home h2 {
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
}

#home .thumbnail img {
  width: 170px;
  height: 100px;
}

#activity .thumbnail img, #resource .thumbnail img {
  width: 210px;
  height: 120px;
}

div#carousel-activity {
    width: 700px;
    height: 330px;
}

div.carousel div.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;  
}