{% if app.session.getFlashes() | length > 0 %}

   {% set alertType = '' %}
   {% set cssType = '' %}

   {% if app.session.hasFlash('info') %}
      {% set cssType = 'alert-info' %}
      {% set alertType = 'info' %}
   {% elseif app.session.hasFlash('error') %}
      {% set cssType = 'alert-error' %}
      {% set alertType = 'error' %}
   {% elseif app.session.hasFlash('warning') %}
      {% set cssType = 'alert-block' %}
      {% set alertType = 'warning' %}
   {% elseif app.session.hasFlash('success') %}
      {% set cssType = 'alert-success' %}
      {% set alertType = 'success' %}
   {% endif %}

{% set alert = app.session.getFlash(alertType) %}

<div class="alert alert-block {{ cssType }}">
  <h4 class="alert-heading">{{ alert.title }}</h4>
  {{ alert.message }}
</div>

{% endif %}