{% extends "TraventyBundle::layout.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('bundles/traventy/bootstrap/js/bootstrap-carousel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/traventy/js/common.js') }}" type="text/javascript"></script>
{% endblock %}

{% block id 'home' %}

{% block content %}

<div class="row">
  <div class="span8">

    <div class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for item in 1..4 %}
        <div class="item {{ item == 1 ? 'active' : ''  }}">
            <img src="{{ asset('bundles/traventy/images/portada/portada' ~ item ~ '.jpg') }}" alt="" />
            <div class="carousel-caption">
                <h4>Actividad {{ item }}</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carouselPortada" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carouselPortada" data-slide="next">&rsaquo;</a>
    </div>
      
  </div>
      
  <div class="span4">
  <p><strong>Traventy</strong> es una web donde podrás construir tu viaje decidiendo como y cuando vas a tus lugares preferidos.</p>
  <ul>
    <li>More 100 hotels around the world ...</li>
    <li>More 1000 restaurants ...</li>
    <li>More 1000 different activities ...</li>
    <li>See the most rating places</li>
    <li>Comment ...</li>
    <li>...</li>
  </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Top Activities</h2>

    <ul class="thumbnails">
      {% for activity in topActivities %}
      <li class="span3">
        <div class="thumbnail">
          <img src="{{ asset('bundles/traventy/images/home-image.png') }}" height="75px" width="170px" alt="" />
          <h5><a href="{{ path('activity_show', {'id' : activity.id}) }}" title="">{{ activity.name }}</a></h5>
          <p>{{ activity.description|truncate(20) }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
          
    <h2>Top Resources</h2>
      
    <ul class="thumbnails">        
      {% for resource in topResources %}
      <li class="span3">
        <div class="thumbnail">
          <img src="{{ asset('bundles/traventy/images/home-image.png') }}" height="75px" width="170px" alt="" />
          <h5><a href="{{ path('resource_show', {'id' : resource.id}) }}" title="">{{ resource.name }}</a></h5>
          <p>{{ resource.city }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
    
  </div>
        
  <div class="span6">
    <h2>Top Excursions</h2>
    <ul>
    {% for excursion in topExcursions %}
        <li><strong>{{ excursion.name }}</strong> 
        (Activities: {{ excursion.activities.count }} - Resources: {{ excursion.resources.count }})</li>
    {% endfor %}
    </ul>
  </div>
        
  <div class="span6">
    <h2>Top Travels</h2>
    <ul>
    {% for travel in topTravels %}
        <li><strong>{{ travel.name }}</strong> 
        (Activities: {{ travel.activities.count }} - Resources: {{ travel.resources.count }})</li>
    {% endfor %}
    </ul>      
  </div>
        
</div>

{% endblock %}
