{% extends 'TraventyBundle::layout.html.twig' %}

{% block content %}

{% if error %}
   <div>{{ error.message }}</div>
{% endif %}
   
<form action="{{ path('user_login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <input type="submit" name="login" />
</form>
   
   
{% endblock %}
