{% set menuBackend = app.session.get('menuBackend') %}
{% set userType = app.user.type|lower %}

<ul class="nav nav-list">
   {% if (userType == "traveler") %}
      
   <li class="nav-header">Favorites</li>      
   <li {{ menuBackend == "activity" ? "class=\"active\"" : "" }}><a href="{{ path("traveler_favorites_activities", { 'username': app.user.username }) }}">Activities</a></li>
   <li {{ menuBackend == "resource" ? "class=\"active\"" : "" }}><a href="{{ path("traveler_favorites_resources", { 'username': app.user.username }) }}">Resources</a></li>
   
   <li class="nav-header">Excursions</li>
   <li {{ menuBackend == "excursion" ? "class=\"active\"" : "" }}><a href="{{ path("traveler_excursions", { 'username': app.user.username }) }}">My Excursions</a></li>
   
   <li class="nav-header">Travels</li>
   <li {{ menuBackend == "travel" ? "class=\"active\"" : "" }}><a href="{{ path("traveler_travels", { 'username': app.user.username }) }}">My Travels</a></li>
   
   {% elseif (userType == "agency") %}

   <li class="nav-header">Travels</li>
   <li {{ menuBackend == "travel" ? "class=\"active\"" : "" }}><a href="{{ path("agency_travels", { 'username': app.user.username }) }}">My Travels</a></li>
   
   
   {% endif %}
   
   <li class="nav-header">Settings</li>   
   <li {{ menuBackend == "userInfo" ? "class=\"active\"" : "" }}><a href="{{ path(userType ~ '_edit', { 'username': app.user.username }) }}">User info</a></li>
   <li {{ menuBackend == "changePasswd" ? "class=\"active\"" : "" }}><a href="{{ path(userType ~ '_account_edit', { 'username': app.user.username }) }}">Change password</a></li>
   <li {{ menuBackend == "socialNetworkEdit" ? "class=\"active\"" : "" }}><a href="{{ path(userType ~ '_network_edit', { 'username': app.user.username }) }}">Links Social Networks</a></li>
</ul>
