{% extends 'TraventyBundle::layout-admin.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/traventy/js/activityform.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<h2>Activity edit</h2>

<div class="row">
    <div class="span12">
        
    {% include 'TraventyBundle:Default:alerts.html.twig' %}
        
    <form action="{{ path('admin_activity_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>        
    <div class="row">
        <div class="span12">
        {{ form_errors(form) }}    
        </div>
    </div>
        
    <div class="row">      
      <div class="span6">        
        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}                
        </div>
        <div>
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
            {{ form_errors(form.city) }}                
        </div>
      </div>

      <div class="span6">          
        <div>
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
      </div>
    </div>
        
    <div class="row">
      <div class="span12">
        <ul class="thumbnails images-activity" data-prototype="{{ form_widget(form.images.vars.prototype) | e }}">
        {% for image in form.images %}
        <li class="span3">
            <div class="thumbnail well">
                <img src="{{ asset(image.vars.value.getWebPath) | apply_filter('thumb_170x100') }}" alt="" />
                <div class="caption">                       
                {{ form_widget(image) }}
                {{ form_errors(image) }}
                </div>
            </div>            
        </li>
        {% endfor %}
        </ul>

        {{ form_rest(form) }}
            
        <input type="submit" class="btn btn-primary" value="Update" />
      </div>
    </div>
        
    </form>

    <ul class="nav nav-pills pull-right">
        <li>
            <a class="btn btn-small" href="{{ path('admin_activity') }}">
            <i class="icon-list"></i> Back to the list</a>
        </li>
        <li>
            <a class="btn btn-small btn-danger" href="{{ path('admin_activity_delete', { 'id': entity.id }) }}">
            <i class="icon-remove icon-white"></i> Delete
            </a>
        </li>
    </ul>

    </div>
</div>

{% endblock %}