{% extends "TraventyBundle::layout-admin.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('bundles/traventy/js/activityform.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<h2>Activity creation</h2>

<div class="row">
    <div class="span12">
        
    {% include 'TraventyBundle:Default:alerts.html.twig' %}
        
    <form action="{{ path('admin_activity_create') }}" method="post" {{ form_enctype(form) }}>
        
    <div class="row">
        <div class="span12">
        {{ form_errors(form) }}    
        </div>
    </div>
        
    <div class="row">      
      <div class="span6">        
        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}                
        </div>
        <div>
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
            {{ form_errors(form.city) }}                
        </div>
      </div>

      <div class="span6">          
        <div>
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
      </div>
    </div>
        
    <div class="row">
      <div class="span12">
        <ul class="images-activity" data-prototype="{{ form_widget(form.images.vars.prototype) | e }}">
        {% for image in form.images %}
            <li>
            {{ form_widget(image) }}
            {{ form_errors(image) }}
            </li>
        {% endfor %}
        </ul>

        {{ form_rest(form) }}
            
        <input type="submit" class="btn btn-primary" value="Create" />
      </div>
    </div>
        
    </form>

    <ul class="nav nav-pills pull-right">
        <li>
            <a class="btn btn-small" href="{{ path('admin_activity') }}">
            <i class="icon-list"></i> Back to the list</a>
        </li>
    </ul>

    </div>
</div>

{% endblock %}
