{% extends "TraventyBundle::layout-admin.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('bundles/traventy/bootstrap/js/bootstrap-carousel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/traventy/js/common.js') }}" type="text/javascript"></script>
{% endblock %}


{% block content %}

<h2>Activity</h2>
<h4>{{ entity.city }} ({{ entity.city.state}})</h4>

<div class="row">
   <div class="span9">

       {% if entity.images|length > 0 %}
       <div id="carousel-activity" class="carousel">
           <!-- Carousel items -->
           <div class="carousel-inner">
               {% for image in entity.images %}
                   <div class="item">
                       <img src="{{ asset(image.webPath) | apply_filter('thumb_570x300') }}" alt="" />
                   </div>
               {% endfor %}
           </div>
           <!-- Carousel nav -->
           <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
           <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
       </div>
       {% else %}
           <img src="{{ asset('bundles/traventy/images/' ~ no_image170) }}" />
       {% endif %}

       <div class="well">
       <p>{{ entity.description }}</p>
       </div>

   </div>

   <div class="span3">
      <div class="well">
         <p><strong>Date</strong><br />
         {{ entity.date is empty ? "" : entity.date|date('d F Y') }}</p>
         <p><strong>Price</strong>: </p>
      </div>
   </div>        
</div>

<div class="row">

   <ul class="nav nav-pills pull-right">
   <li><a href="{{ path('activity') }}" class="btn btn-small" title="Back to list">
       <i class="icon-list"></i> Back to list</a></li>
   </ul>

</div>


{% endblock %}