<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Traventy{% endblock %} | traventy.com</title>
  <meta name="description" content="{% block metadesc %}Symfony2 app{% endblock %}" />

  <link href="{{ asset('bundles/traventy/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bundles/traventy/css/main.css') }}" rel="stylesheet" type="text/css" />
  
  {% block stylesheets %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" /></script>
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>

{% block traventy %}{% endblock %}

</html>