{% extends 'form_div_layout.html.twig' %}

{% block field_errors %}
    {% include 'TraventyBundle:Form:field_errors.html.twig' %}
{% endblock field_errors %}

{% block field_row %}
    {% include 'TraventyBundle:Form:field_row.html.twig' %}
{% endblock field_row %}