{% extends 'TraventyBundle::layout.html.twig' %}

{% block content %}

<div class="row">
  <div class="span3">
   {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
  </div>

  <div class="span9">  
    <h3>{{ title }}</h3>
    <p>## Portada backend Agency ##</p>
  </div>
</div>

{% endblock %}