{% extends 'TraventyBundle::layout.html.twig' %}

{% block id 'event' %}

{% block content %}

<div class="row">
  <div class="span3">
     {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
  </div>

  <div class="span9">  
     <h3>My Excursions</h3>
     
     {% include 'TraventyBundle:Default:alerts.html.twig' %}
     
     <table class="table table-condensed">
        <thead>
           <tr>
              <th>Name</th>
              <th>Num. Activities</th>
              <th>Num. Resources</th>
              <th>Price</th>
              <th>Attendant limit</th>
              <th>#</th>
           </tr>
        </thead>
        <tbody>
           {% for travel in travels %}              
           <tr>
              <td>
              <a href="{{ path('agency_show_travel', 
               {'username' : app.user.username, 'id' : travel.id }) }}" 
               title="Show Travel">{{ travel.name | capitalize }}</a>                 
              </td>
              <td>{{ travel.activities.count }}</td>
              <td>{{ travel.resources.count }}</td>
              <td>{{ travel.price }}</td>
              <td>{{ travel.attendantLimit }}</td>
              <td>
              <a href="{{ path('agency_edit_travel', 
               {'username' : app.user.username, 'id' : travel.id }) }}" 
               title="Edit Travel"><i class="icon-edit"></i></a>
              <a href="{{ path('agency_delete_travel', 
               {'username' : app.user.username, 'id' : travel.id }) }}" 
               title="Delete Travel"><i class="icon-remove"></i></a>               
              </td>
           </tr>
           {% else %}
           <tr>
              <td>
              <div class="alert alert-info">Ups! There are not events.</div>
              </td>
           </tr>              
           {% endfor %}
        </tbody>
     </table>
     
     <p class="pull-right">
       <a href="{{ path('agency_new_travel', { 'username' : app.user.username }) }}" 
          class="btn btn-primary">New travel</a></p>
     
  </div>
</div>

{% endblock %}