{% extends 'TraventyBundle::layout.html.twig' %}

{% block content %}

<div class="row">
  <div class="span3">
   {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
  </div>

  <div class="span9">  
    <h3>{{ title }}</h3>
    
    {% include 'TraventyBundle:Default:alerts.html.twig' %}
    
    <form action="{{ path(ruta, { 'username': app.user.username }) }}" method="post" {{ form_enctype(edit_form) }}>
       {{ form_widget(edit_form) }}
       <input class="btn btn-primary" type="submit" value="Update">
    </form>

  </div>
</div>

{% endblock %}