{% extends 'TraventyBundle::layout.html.twig' %}

{% block id 'event' %}

{% block content %}

<div class="row">
  <div class="span3">
     {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
  </div>

  <div class="span9">  
     <h3>My Excursions</h3>
     
     {% include 'TraventyBundle:Default:alerts.html.twig' %}
     
     <table class="table table-condensed">
        <thead>
           <tr>
              <th>Name</th>
              <th>Num. Activities</th>
              <th>Num. Resources</th>
              <th>#</th>
           </tr>
        </thead>
        <tbody>
           {% for excursion in excursions %}              
           <tr>
              <td>
              <a href="{{ path('traveler_show_excursion', 
               {'username' : app.user.username, 'id' : excursion.id }) }}" 
               title="Show Excursion">{{ excursion.name | capitalize }}</a>                 
              </td>
              <td>{{ excursion.activities.count }}</td>
              <td>{{ excursion.resources.count }}</td>
              <td>
              <a href="{{ path('traveler_edit_excursion', 
               {'username' : app.user.username, 'id' : excursion.id }) }}" 
               title="Edit Excursion"><i class="icon-edit"></i></a>
              <a href="{{ path('traveler_delete_excursion', 
               {'username' : app.user.username, 'id' : excursion.id }) }}" 
               title="Delete Excursion"><i class="icon-remove"></i></a>               
              </td>
           </tr>
           {% else %}
           <tr>
              <td>
              <div class="alert alert-info">Ups! There are not events.</div>
              </td>
           </tr>              
           {% endfor %}
        </tbody>
     </table>
     
     <p class="pull-right">
       <a href="{{ path('traveler_new_excursion', { 'username' : app.user.username }) }}" 
          class="btn btn-primary">New excursion</a></p>
     
  </div>
</div>

{% endblock %}