{% extends 'TraventyBundle::layout.html.twig' %}

{% block id 'resource' %}

{% block content %}

<div class="row">
  <div class="span3">
     {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
  </div>

  <div class="span9">  
    <h3>{{ title }}</h3>

      {% set aux = 0 %}
      {% for entity in entities %}
         {% if aux == 0 %}
         <ul class="thumbnails">{% set aux = 1 %}
         {% endif %}
    
         <li class="span3">
           <div class="thumbnail">

              <a href="{{ path('resource_show', {'id' : entity.id}) }}">
              <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
              </a>
              <div class="caption">
                 <h4>
                 <a href="{{ path('traveler_remove_favorite_resource', 
                     {'username' : app.user.username, 
                      'id' : entity.id }) }}" title="Remove from favorite">
                     <i class="icon-star"></i></a>
                     
                 <a href="{{ path('resource_show', {'id' : entity.id}) }}">{{ entity.name }}</a>
                 </h4>
                 <p><strong>{{ entity.city }}</strong><br />({{ entity.city.state }})</p>
              </div>

           </div>
        </li>
      {% else %}
        <div class="alert alert-info">Ups! There aren't favorites resources.</div>
      {% endfor %}

      {% if aux == 1 %}
        </ul>
      {% endif %}
    
  </div>
</div>

{% endblock %}