{% extends 'TraventyBundle::layout.html.twig' %}

{% block content %}

<div class="row">
  <div class="span3">
     {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
  </div>

  <div class="span9">  
    <p>## Portada backend Traveler ##</p>
  </div>
</div>

{% endblock %}