{% extends 'TraventyBundle::layout.html.twig' %}

{% block id 'event' %}

{% block content %}

<div class="row">
  <div class="span3">
     {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
  </div>

  <div class="span9">  
     <h3>Travels</h3>     
     
     <table class="table table-condensed">
        <thead>
           <tr>
              <th>Agency</th>
              <th>Travel</th>
              <th>Num. Activities</th>
              <th>Num. Resources</th>
              <th>Status</th>
           </tr>
        </thead>
        <tbody>
           {% for subscription in subscriptions %}              
           <tr>
              <td>{{ subscription.travel.agency.name }}</td>
              <td>
              <a href="{{ path('agency_detail_travel', 
               {'username' : subscription.travel.agency.username, 'id' : subscription.travel.id }) }}" 
               title="Show Travel">{{ subscription.travel.name | capitalize }}</a>  
              </td>
              <td>{{ subscription.travel.activities.count }}</td>
              <td>{{ subscription.travel.resources.count }}</td>
              <td>{{ subscription.status }}</td>
           </tr>
           {% else %}
           <tr>
              <td>
              <div class="alert alert-info">Ups! There are not travels.</div>
              </td>
           </tr>              
           {% endfor %}
        </tbody>
     </table>
     
  </div>
</div>

{% endblock %}