{% extends "::base.html.twig" %}

{% block traventy %}
<body id="{% block id '' %}">
  
<div class="container">

  {% block header %}
  <header class="row">

    <div class="navbar span12">
      <div class="navbar-inner">
        <div class="container" style="width: auto">

        <a class="brand" href="#">Traventy</a>
        <ul class="nav">
          <li class="active"><a href="{{ path('admin_homepage') }}">Home</a></li>
          <li><a href="{{ path('admin_activity') }}">Activities</a></li>
          <li><a href="{{ path('admin_resource') }}">Resources</a></li>
        </ul>
        
        </div>
      </div>
    </div>      
      
  </header>    
  {% endblock %}

  {% block content %}{% endblock %}
  
  <footer>
  {% block footer %}
    <p>&copy; Traventy</p>
  {% endblock %}
  </footer>  
  
</div>

{% block javascripts %}{% endblock %}

</body>
{% endblock %}

