{% extends 'TraventyBundle::layout.html.twig' %}

{% block id 'travels' %}

{% block javascripts %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" ></script>
   <script src="{{ asset('bundles/traventy/bootstrap/js/bootstrap.min.js') }}" type="text/javascript" ></script>
   <script src="{{ asset('bundles/traventy/bootstrap/js/bootstrap-carusel.js') }}" type="text/javascript" ></script>
   <script src="{{ asset('bundles/traventy/js/travels.js') }}" type="text/javascript" ></script>
{% endblock %}

{% block content %}

<div class="row">

   <div class="span12">  
   <h2>{{ travel.name|capitalize }}</h2>
   
   <div class="well">
    <div class="row">
        <div class="span3">
            <p><i class="icon-user"></i> {{ travel.agency.username|capitalize }}</p>
        </div>
        <div class="span3">
            <p><i class="icon-info-sign"></i> Prize: <strong>{{ travel.price|default('Not introduced') }}</strong></p>
        </div>
        <div class="span3">
            <p><i class="icon-exclamation-sign"></i> Attendants limit: <strong>{{ travel.attendantLimit }}</strong></p>
        </div>            
        {% if is_granted('ROLE_TRAVELER') %}
        <div class="span2">
            <a href="{{ path('agency_travel_add_attendant', { 'username': travel.agency.username, 'travelid': travel.id}) }}" 
               class="btn btn-primary btn-small pull-right" title="Subscribe to the travel!">
            <i class="icon-hand-right icon-white"></i> Subscribe!</a>
        </div>
        {% elseif not is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="#" rel="popover" data-original-title="Travel"
               data-content="Only Travelers can subscribe"
               class="btnsubscribe btn btn-primary btn-small pull-right" title="Subscribe to the travel!">
            <i class="icon-hand-right icon-white"></i> Subscribe!</a>
        {% endif %}
    </div>
   </div>
   
   {% include 'TraventyBundle:Default:alerts.html.twig' %}
   
   <div class="tabbable">
      <ul class="nav nav-tabs">
         <li class="active"><a href="#travelActivities" data-toggle="tab">Activities</a></li>
         <li><a href="#travelResources" data-toggle="tab">Resources</a></li>
         <li><a href="#travelSubscribers" data-toggle="tab">Subcribers</a></li>
      </ul>
      <div class="tab-content">
         <div class="tab-pane active" id="travelActivities">
            
         <ul class="thumbnails">
         {% for activity in travel.activities %}
            <li class="span3">
               <div class="thumbnail">

                  <a href="{{ path('activity_show', {'id' : activity.id}) }}">
                  {% if activity.randomImage is not null %}
                      <img src="{{ asset(activity.randomImage.webPath) | apply_filter('thumb_210x120') }}" />
                  {% else %}
                      <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
                  {% endif %}
                  </a>
                  <div class="caption">
                     <h4>
                     <a href="{{ path('activity_show', {'id' : activity.id}) }}">{{ activity.name }}</a>
                     </h4>
                     <p><strong>{{ activity.city }}</strong><br />({{ activity.city.state }})</p>
                  </div>

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't activities for this travel</div></li>
         {% endfor %}
         </ul>            
            
         </div>
            
         <div class="tab-pane" id="travelResources">
            
         <ul class="thumbnails">
         {% for resource in travel.resources %}
            <li class="span3">
               <div class="thumbnail">

                  <a href="{{ path('resource_show', {'id' : resource.id}) }}">
                  <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
                  </a>
                  <div class="caption">
                     <h4>
                     <a href="{{ path('resource_show', {'id' : resource.id}) }}">{{ resource.name }}</a>
                     </h4>
                     <p><strong>{{ resource.city }}</strong><br />({{ resource.city.state }})</p>
                  </div>

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't resources for this travel</div></li>            
         {% endfor %}
         </ul>            
            
         </div>
              
         <div class="tab-pane" id="travelSubscribers">
            
         <ul class="thumbnails">
         {% for subscriptor in acceptedSubscriptions %}
            <li class="span3">
               <div class="thumbnail">
                   <i class="icon-user"></i> {{ subscriptor.name }}
               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't subscriptions for this travel</div></li>            
         {% endfor %}
         </ul>
            
         </div>
              
      </div>
   </div>     
      
   <ul class="nav nav-pills pull-right">
       <li><a href="{{ path('travels') }}" class="btn btn-small" title="Back to travel list">
           <i class="icon-list"></i> Back to list</a></li>
       {% if is_granted('ROLE_TRAVELER') %}
       <li><a href="" class="btn btn-primary btn-small" title="Subscribe to the travel!">
           <i class="icon-hand-right icon-white"></i> Subscribe!</a></li>
       {% elseif not is_granted('IS_AUTHENTICATED_FULLY') %}
       <li><a href="#" rel="popover" data-original-title="Travel"
              data-content="Only Travelers can subscribe"
              class="btnsubscribe btn btn-primary btn-small pull-right" title="Subscribe to the travel!">
           <i class="icon-hand-right icon-white"></i> Subscribe!</a></li>
       {% endif %}
   </ul>
   
   </div>
</div>

{% endblock %}