{% extends 'TraventyBundle::layout.html.twig' %}

{% block id 'event' %}

{% block content %}

<div class="row">
   <div class="span3">
      {% include 'TraventyBundle:Default:menuBackend.html.twig' %}
   </div>        

   <div class="span9">  
   <h3>{{ travel.name|capitalize }}</h3>
     
   <div class="tabbable">
      <ul class="nav nav-tabs">
         <li class="active"><a href="#travelActivities" data-toggle="tab">Activities</a></li>
         <li><a href="#travelResources" data-toggle="tab">Resources</a></li>
         <li><a href="#travelSubscribers" data-toggle="tab">Subscribers</a></li>
      </ul>
      <div class="tab-content">
         <div class="tab-pane active" id="travelActivities">
            
         <ul class="thumbnails">
         {% for activity in travel.activities %}
            <li class="span3">
               <div class="thumbnail">

                  <a href="{{ path('activity_show', {'id' : activity.id}) }}">
                  <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
                  </a>
                  <div class="caption">
                     <h4>
                     <a href="{{ path('activity_show', {'id' : activity.id}) }}">{{ activity.name }}</a>
                     </h4>
                          <p><strong>{{ activity.city }}</strong><br />({{ activity.city.state }})</p>
                     <a class="btn btn-mini" href="{{ path('travel_remove_activity',{
                        'username' : app.user.username,
                        'travelid' : travel.id,
                        'activityid' : activity.id
                     })  }}" >
                     <i class="icon-remove"></i> Remove</a>                     
                  </div>

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't activities for this travel</div></li>
         {% endfor %}
         </ul>            
            
         </div>
            
         <div class="tab-pane" id="travelResources">
            
         <ul class="thumbnails">
         {% for resource in travel.resources %}
            <li class="span3">
               <div class="thumbnail">

                  <a href="{{ path('resource_show', {'id' : travel.id}) }}">
                  <img src="{{ asset('bundles/traventy/images/' ~ no_image120) }}" />
                  </a>
                  <div class="caption">
                     <h4>
                     <a href="{{ path('resource_show', {'id' : resource.id}) }}">{{ resource.name }}</a>
                     </h4>
                          <p><strong>{{ resource.city }}</strong><br />({{ resource.city.state }})</p>
                     <a class="btn btn-mini" href="{{ path('travel_remove_resource',{
                        'username' : app.user.username,
                        'travelid' : travel.id,
                        'resourceid' : resource.id
                     })  }}" >
                     <i class="icon-remove"></i> Remove</a>                     

                  </div>

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't resources for this travel</div></li>
         {% endfor %}
         </ul>            
            
         </div>
              
         <div class="tab-pane" id="travelSubscribers">
         
         <h4>Pending Subscriptions</h4>
         <ul class="thumbnails">
         {% for subscription in pendingSubscriptions %}
            <li class="span3">
               <div class="thumbnail">

                  <div class="caption">
                     <p>{{ subscription.traveler.fullName }} <br /><strong>@{{ subscription.traveler.username }}</strong></p>

                     <a class="btn btn-mini" href="{{ path('travel_subscription_accept', {
                        'username' : app.user.username,
                        'travelid' : subscription.travel.id,
                        'travelerusername' : subscription.traveler.username                        
                     }) }}" >
                     <i class="icon-thumbs-up"></i> Accept</a>
                     <a class="btn btn-mini" href="{{ path('travel_subscription_deny', {
                        'username' : app.user.username,
                        'travelid' : subscription.travel.id,
                        'travelerusername' : subscription.traveler.username                        
                     }) }}" >
                     <i class="icon-thumbs-down"></i> Deny</a>
                     
                  </div>                   

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't pending subscriptions for this travel</div></li>
         {% endfor %}
         </ul>
         
         <h4>Accepted Subscriptions</h4>
         <ul class="thumbnails">
         {% for subscription in acceptedSubscriptions %}
            <li class="span3">
               <div class="thumbnail">
                  
                  <div class="caption">
                     <p>{{ subscription.traveler.fullName }} <br /><strong>@{{ subscription.traveler.username }}</strong></p>

                     <a class="btn btn-mini" href="{{ path('travel_subscription_deny', {
                        'username' : app.user.username,
                        'travelid' : subscription.travel.id,
                        'travelerusername' : subscription.traveler.username                        
                     }) }}" >
                     <i class="icon-thumbs-down"></i> Deny</a>
                     
                  </div>

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't accepted subscriptions for this travel</div></li>
         {% endfor %}
         </ul>
            
         <h4>Denied Subscriptions</h4>
         <ul class="thumbnails">
         {% for subscription in deniedSubscriptions %}
            <li class="span3">
               <div class="thumbnail">
                  
                  <div class="caption">
                     <p>{{ subscription.traveler.fullName }} <br /><strong>@{{ subscription.traveler.username }}</strong></p>

                     <a class="btn btn-mini" href="{{ path('travel_subscription_accept', {
                        'username' : app.user.username,
                        'travelid' : subscription.travel.id,
                        'travelerusername' : subscription.traveler.username                        
                     }) }}" >
                     <i class="icon-thumbs-up"></i> Accept</a>
                     
                  </div>                   

               </div>
            </li>
         {% else %}
            <li><div class="alert alert-info">Ups! There aren't denied subscriptions for this travel</div></li>
         {% endfor %}
         </ul>
         
         </div>
              
      </div>
   </div>     
      
   <ul class="nav nav-pills pull-right">
     <li><a class="btn btn-small" href="{{ path('agency_travels', { 'username': app.user.username }) }}">Back to list</a></li>
     <li><a class="btn btn-small btn-danger" href="{{ path('agency_delete_travel', 
         {'username' : app.user.username, 'id' : travel.id }) }}">
         <i class="icon-trash icon-white"></i> Delete</a></li>
   </ul>
   
   </div>
</div>

{% endblock %}

{% block javascripts %}

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" /></script>
   <script src="{{ asset('bundles/traventy/bootstrap/js/bootstrap.min.js') }}" type="text/javascript" /></script>

{% endblock %}
