{% extends "TraventyBundle::layout.html.twig" %}

{% block id 'excursions' %}

{% block content %}

<h2>Travels list</h2>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">        
      {% for travel in travels %}
      <li class="span3">
        <div class="thumbnail">
          <img src="{{ asset('bundles/traventy/images/home-image.png') }}" height="90px" width="90px" alt="" />
          <h5>
          <a href="{{ path('agency_detail_travel', {'id' : travel.id, 'username' : travel.agency.username }) }}" title="">{{ travel.name }}</a>
          </h5>
          <p>(Activities: {{ travel.activities.count }} - Resources: {{ travel.resources.count }})</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}