{% extends "TraventyBundle::layout-admin.html.twig" %}

{% block javascripts %}{% endblock %}

{% block id 'activity' %}

{% block content %}

<div class="row">
  <div class="span12">

     <h2>Activities</h2>          

     {% include 'TraventyBundle:Default:alerts.html.twig' %}
     
     <table class="table table-condensed">
        <thead>
           <tr>
              <th>Name</th>
              <th>City</th>
              <th>Date</th>
              <th>Actions</th>
           </tr>
        </thead>
        <tbody>
           {% for activity in activities %}
           <tr>
              <td>{{ activity.name }}</td>
              <td>{{ activity.city }}</td>
              <td>{{ activity.date is empty ? "" : activity.date|date('d F Y') }}</td>
              <td>
              <a href="{{ path('admin_activity_edit', { 'id' : activity.id }) }}" 
               title="Edit Activity"><i class="icon-edit"></i></a>
              <a href="{{ path('admin_activity_delete', { 'id' : activity.id }) }}" 
               title="Delete Activity"><i class="icon-remove"></i></a>               
              </td>
           </tr>
           {% else %}
           <tr>
              <td>
              <div class="alert alert-info">Ups! There are not activities.</div>
              </td>
           </tr>              
           {% endfor %}
        </tbody>
     </table>

     <div class="row">
     <ul class="nav nav-pills pull-right">
        <li>
        <a href="{{ path('admin_activity_new') }}" class="btn btn-small btn-primary">New Activity</a>
        </li>
     </ul>
     </div>
     
     <div class="pagination pagination-right">
     <ul>
     {% if paginator.currentPage > 1 %}
        <li><a href="{{ path('admin_activity', { 'page': paginator.firstPage }) }}">First</a></li>
     {% else %}
        <li><a href="#">First</a></li>
     {% endif %}
     
     {% if paginator.currentPage > 1 %}
        <li><a href="{{ path('admin_activity', { 'page': paginator.previousPage }) }}">&#171;</a></li>
     {% else %}
        <li><a href="#">&#171;</a></li>
     {% endif %}
     
     {% for page in paginator.minPageInRange..paginator.maxPageInRange %}
        {% if page == paginator.currentPage %}
            <li class="active"><a href="#">{{ page }}</a></li>
        {% else %}
            <li><a href="{{ path('admin_activity', { 'page': page }) }}">{{ page }}</a></li>
        {% endif %}
     {% endfor %}

     {% if paginator.currentPage < paginator.lastPage %}
        <li><a href="{{ path('admin_activity', { 'page': paginator.nextPage }) }}">&#187;</a></li>
     {% else %}
        <li><a href="#">&#187;</a></li>
     {% endif %}
        
     {% if paginator.currentPage < paginator.lastPage %}
        <li><a href="{{ path('admin_activity', { 'page': paginator.lastPage }) }}">Last</a></li>
     {% else %}
        <li><a href="#">Last</a></li>
     {% endif %}
     </ul>
     </div>
      
  </div>
</div>

{% endblock %}
