{% extends "TraventyBundle::layout-admin.html.twig" %}

{% block javascripts %}{% endblock %}

{% block id 'home' %}

{% block content %}

<div class="row">
  <div class="span12">
      <h1>Welcome to admin control panel!</h1>
      
      <div class="well">
          <ul>
              <li>There are {{ numberActivities }} Activities</li>
              <li>There are {{ numberActivities }} Resurces</li>
          </ul>
      </div>
  </div>
</div>

{% endblock %}
