{% extends "TraventyBundle::layout-admin.html.twig" %}

{% block javascripts %}{% endblock %}

{% block id 'resource' %}

{% block content %}

<div class="row">
  <div class="span12">

     <h2>Resources</h2>          
     
     <table class="table table-condensed">
        <thead>
           <tr>
              <th>Name</th>
              <th>City</th>
              <th>Telephone</th>
              <th>Fax</th>
              <th>Web</th>
              <th>Actions</th>
           </tr>
        </thead>
        <tbody>
           {% for resource in resources %}
           <tr>
              <td>{{ resource.name }}</td>
              <td>{{ resource.city }}</td>
              <td>{{ resource.telephone }}</td>
              <td>{{ resource.fax }}</td>
              <td>{{ resource.web }}</td>
              <td>
              <a href="{{ path('admin_resource_edit', { 'id' : resource.id }) }}" 
               title="Edit Resource"><i class="icon-edit"></i></a>
              <a href="{{ path('admin_resource_delete', { 'id' : resource.id }) }}" 
               title="Delete Resource"><i class="icon-remove"></i></a>               
              </td>

           </tr>
           {% else %}
           <tr>
              <td>
              <div class="alert alert-info">Ups! There are not resources.</div>
              </td>
           </tr>              
           {% endfor %}
        </tbody>
     </table>
     
     <div class="row">
     <ul class="nav nav-pills pull-right">
        <li>
        <a href="{{ path('admin_resource_new') }}" class="btn btn-small btn-primary">New Resource</a>
        </li>
     </ul>
     </div>     
     
     <div class="pagination pagination-right">
     <ul>
     {% if paginator.currentPage > 1 %}
        <li><a href="{{ path('admin_resource', { 'page': paginator.firstPage }) }}">First</a></li>
     {% else %}
        <li><a href="#">First</a></li>
     {% endif %}
     
     {% if paginator.currentPage > 1 %}
        <li><a href="{{ path('admin_resource', { 'page': paginator.previousPage }) }}">&#171;</a></li>
     {% else %}
        <li><a href="#">&#171;</a></li>
     {% endif %}
     
     {% for page in paginator.minPageInRange..paginator.maxPageInRange %}
        {% if page == paginator.currentPage %}
            <li class="active"><a href="#">{{ page }}</a></li>
        {% else %}
            <li><a href="{{ path('admin_resource', { 'page': page }) }}">{{ page }}</a></li>
        {% endif %}
     {% endfor %}

     {% if paginator.currentPage < paginator.lastPage %}
        <li><a href="{{ path('admin_resource', { 'page': paginator.nextPage }) }}">&#187;</a></li>
     {% else %}
        <li><a href="#">&#187;</a></li>
     {% endif %}
        
     {% if paginator.currentPage < paginator.lastPage %}
        <li><a href="{{ path('admin_resource', { 'page': paginator.lastPage }) }}">Last</a></li>
     {% else %}
        <li><a href="#">Last</a></li>
     {% endif %}
     </ul>
     </div>
      
  </div>
</div>

{% endblock %}
